aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
attrs==25.2.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cobs==1.1.4
coloredlogs==15.0.1
discord==2.3.2
discord.py==2.5.2
docutils==0.21.2
Flask==3.1.0
frozenlist==1.5.0
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
libpcap==1.11.0b16
MarkupSafe==3.0.2
msgpack==1.1.0
multidict==6.1.0
nextcord==2.6.0
numpy==1.26.4
nunavut==2.3.1
packaging==24.2
pkg_about==1.2.9
propcache==0.3.0
psutil==5.9.8
pycyphal==1.20.0
pydsdl==1.22.2
pyserial==3.5
python-can==4.5.0
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
scipy==1.15.2
simplejson==3.20.1
spotipy==2.25.1
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.18.3
yt-dlp==2025.2.19
zipp==3.21.0
